body {
	font-family: sans-serif;
}

.gameboard {
	width: 600px;
	margin: auto;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	font-size: 75px;
}

tr {
	height: 200px;
}

td {
	border: 1px solid black;
	width: 33.333333333333333333333333%;
}